if SHIELD_RELIC_LEFT

config ZMK_KEYBOARD_NAME
    default "relic"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_RELIC_LEFT

if SHIELD_RELIC_LEFT || SHIELD_RELIC_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_RELIC_LEFT || SHIELD_RELIC_RIGHT
